<%- include('partials/header'); -%>

<h1>Compose</h1>
<form action="/compose" method="post">
  <div class="form-group">
    <label for="">Title</label>
    <input class="form-control" type="text" name="input" />
    <label for="">Post</label>
    <textarea
      name="content"
      class="form-control"
      name="postbody"
      rows="5"
      cols="30"
    ></textarea>
  </div>
  <button class="btn btn-primary" type="submit" name="button">publish</button>
</form>
<%- include('partials/footer'); -%>
